<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome to the Home Page</h1>
        <ul ><strong>DLT Components:</strong>
            <li><a href="{% url 'variable' %}">Variable</a></li>
            <li><a href="{% url 'tags' %}">Tags </a></li>
            <li><a href="{% url 'filter' %}">Filters</a></li>
            <li><a href="{% url 'comment' %}">Comments</a></li>
        </ul>    

        <ul ><strong>Template Partials:</strong>    
            <li><a href="{% url 'partial' %}">Partial</a></li>
            <li><a href="{% url 'direct_access' %}">Direct Access</a></li>
        </ul>
    </body>
</html>